body {
    margin: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
    background-color: #e2e8f0;
    min-height: 100vh;
}

.sidebar {
    background-color: #1992d4;
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 50px 250px 1fr 1fr;
    gap: 10px;
    align-items: start;
    padding-top: 20px;
    box-shadow: 2px 0px 2px #d1d7de;
}

.sidebar .title {
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.sidebar .group-one {
    display: grid;
    gap: 10px;
}

.sidebar .group-two {
    display: grid;
    gap: 10px;
}

.sidebar button {
    border: none;
    background-color: #1992d4;
    text-align: left;
    padding-left: 30px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.sidebar .icons {
    padding-right: 15px;
}

.sidebar button:hover {
    background-color: #1886c2;
}

.header {
    background-color: #ffffff;
    grid-column: 2/3;
    display: grid;
    grid-template: 1fr 1fr / 1fr 350px;
    box-shadow: 0px 7px 2px -2px #cdd2d9;
}

.account {
    display: grid;
    align-items: center;
    padding: 15px;
    margin-right: 15px;
    grid-template-columns: .5fr .5fr .7fr;
    justify-items: end;
}

.account button {
    border: none;
    background-color: white;
}

.account .profile-btn img {
    border-radius: 90%;
    width: 48px;
}

.searchbar {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.searchbar button {
    border: none;
    background-color: white;
    flex: 0;
}

.searchbar #search-field {
    flex: 1;
    border: none;
    background-color: #e2e8f0;
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 10px;
}

.welcome {
    display: flex;
    align-items: center;
    margin-left: 40px;
    gap: 20px;
}

.welcome img {
    border-radius: 90%;
}

.welcome .account-name {
    font-size: 24px;
    font-weight: bold;
}

.project-buttons {
    display: grid;
    gap: 15px;
    align-items: center;
    margin-right: 40px;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-buttons button {
    border-radius: 20px;
    border: none;
    background-color: #1992d4;
    color: white;
    font-weight: bold;
    padding: 15px;
    font-size: 15px;
}

.project-buttons button:hover {
    background-color: lightblue;
}

.content {
    margin-top: 5px;
    margin-left: 3px;
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #e2e8f0;
    display: grid;
    padding: 5px;
    padding-top: 0px;
    grid-template-columns: 1fr 300px;
}

.content .heading {
    font-size: 20px;
    font-weight: bold;
}

.projects {
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 25px 1fr;
    padding: 15px 30px;
}

.projects .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(260px, 1fr));
    justify-items: center;
    margin-top: 15px;
}

.card {
    border-radius: 25px;
    box-shadow: 2px 2px 5px 5px #d4dae0;
}

.projects .card:hover {
    scale: 1.1;
    z-index: 1;
}

.projects .card {
    background: linear-gradient(to right, #f0b429 10px, white 10px);
    display: grid;
    grid-template-columns: 5px 1fr;
}

.projects .card-text {
    grid-column: 2/3;
    border-radius: 25px;
    margin: 20px 20px 10px;
    display: grid;
    grid-template-rows: 25px;
}

.card-heading {
    font-size: 18px;
    font-weight: bold;
}

.card-body {
    font-size: 14px;
}

.card-controls {
    justify-self: end;
    align-self: end;
    margin-bottom: 10px;
}

.card-controls button {
    border: 1px solid white;
    background-color: white;
}

.card-controls button:hover {
    border: 1px solid lightgrey;
}

.projects .card {
    height: 250px;
    width: 250px;
}

.annoucements,
.trending {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 25px 1fr;
    padding-right: 30px;
    padding-top: 15px;
}

.annoucements .card {
    margin-bottom: 5px;
}

.trending {
    padding-bottom: 15px;
}

.annoucements .card,
.trending .card {
    margin-top: 15px;
    background-color: white;
    padding: 30px;
}