body {
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: 15% 1fr 1fr;
    background-color: grey;
    height: calc(100vh - 16px);
}

.sidebar {
    background-color: blue;
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
}

.header {
    background-color: blueviolet;
    grid-column: 2/4;
}

.content {
    margin-top: 20px;
    grid-row: 2/4;
    grid-column: 2/4;
    background-color: grey;
    display: grid;
    gap: 5px;
    padding: 5px;
    grid-template-columns: 1fr 300px;
}

.projects {
    background-color: bisque;
    grid-row: 1/3;
}

.annoucements {
    background-color: brown;
    grid-column: 2/3;
}

.trending {
    background-color: aqua;
    grid-column: 2/3;
}