body {
    margin: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
    background-color: #e2e8f0;
    min-height: 100vh;
}

.sidebar {
    background-color: #1992d4;
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 10% 25% 1fr 1fr;
    gap: 10px;
    align-items: start;
    padding-left: 20px;
    padding-top: 20px;
    box-shadow: 2px 0px 2px #d1d7de;
}

.sidebar .group-one {
    display: grid;
    gap: 10px;
}

.sidebar .group-two {
    display: grid;
    gap: 10px;
}

.header {
    background-color: #ffffff;
    grid-column: 2/3;
    display: grid;
    grid-template: 1fr 1fr / 70% 1fr;
    box-shadow: 0px 7px 2px -2px #cdd2d9;
}

.searchbar,
.account,
.welcome,
.project-buttons {
    display: grid;
    align-items: center;
    padding: 15px;
}

.project-buttons {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.project-buttons button {
    border-radius: 10px;
    border: none;
    background-color: #1992d4;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.project-buttons button:hover {
    background-color: lightblue;
}

.content {
    margin-top: 5px;
    margin-left: 3px;
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #e2e8f0;
    display: grid;
    padding: 5px;
    padding-top: 20px;
    grid-template-columns: 1fr 300px;
}

.projects {
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 25px 1fr;
    padding:30px;
}

.projects .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.card {
    background-color: white;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 2px 2px 5px 5px #d4dae0;
}

.projects .card {
    min-height: 150px;
}

.annoucements, .trending {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 25px 1fr;
    padding-right: 30px;
    padding-top: 30px;
}

.trending {
    padding-bottom: 30px;
}
